# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
keystore.properties
*.iml
*.hprof
.cxx/

# generated inline modules
app/src/main/java/inline/

# Bundle artifacts
*.jsbundle
